body {
    background-color: #F4D04E;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

@font-face {
    font-family: 'semiBold';
    src: url('assets/fonts/static/Figtree-semiBold.ttf');
  }

  @font-face {
    font-family: 'boldFont';
    src: url('assets/fonts/static/Figtree-ExtraBold.ttf');
  }

.card {
    width: 384px;
    height: 522px;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 20px;
    box-shadow: 8px 8px #111111;
}

.blogImage {
    width: 336px;
    height: 200px;
    margin: 24px;
    background: url(assets/images/illustration-article.svg);
    border-radius: 10px;
}

.content {
    margin: 0 24px 24px;
}

.category {
    width: 82px;
    height: 29px;
    background-color: #F4D04E;
    border-radius: 4px;
    font-family: boldFont;
    font-size: 14px;
    padding: 6px 12px 6px 12px;
    box-sizing: border-box;
}

.date {
    margin-top: 16px;
    font-family: semiBold;
}

.title {
    font-family: boldFont;
    font-size: 24px;
    margin-top: 20px;
}

.title:hover {
    color: #F4D04E;
    cursor: pointer;
}

.description {
    font-family: semiBold;
    font-size: 18px;
    color: #6B6B6B;
    margin-top: 16px;
    letter-spacing: 0.5px;
}

.author {
    margin: 0 24px 24px;
    display: flex;
    flex-direction: row;
}

.userpic {
    background: url(assets/images/image-avatar.webp);
    background-size: contain;
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

.authorname {
    font-family: boldFont;
    padding: 6px 0 6px 12px;
}